/**
    Folha de estilo do site
    @author Pedro Henrique
    @link https://github.com/pedrohreismarques/hub-pedrohreismarques
*/

/* CSS RESET */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    --azulEscuro: #0f203a;
    --branco: #ffffff;

}

/* LAYOUT */
.container, main {
   
    display: flex;
    flex-direction: column;
    align-items: center;

}

body {
    
    font-family: "Space Grotesk", sans-serif;
    color: var(--branco);
    background-color: var(--azulEscuro);

}

/* CABEÇALHO */
header {
    
    text-align: center;
    align-items: center;

}

header img {
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 60px;

}

header h1 {
    
    color: var(--branco);
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 15px;

}

header h2 {
    
    color: var(--branco);
    font-size: 1.0rem;
    font-weight: 100;
    max-width: 350px;
    margin-top: 10px;
    margin-bottom: 30px;

}

/* PRINCIPAL */
main a {

    background-color: var(--branco);
    width: 320px;
    height: 60px;
    margin-top: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--azulEscuro);
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;

}

/* RODAPÉ */
footer {

    margin-top: 180px;
    text-decoration: none;

}

footer img {

    margin: 0px 20px 0px 20px;

}

.container p {

    font-size: 0.9rem;
    margin-top: 30px;

}